.calculators-button{
  width: 100%;
}
.history {
  margin-top: 20px;
}

.calculator-display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.calculator-history {
  font-size: 0.8em;
  color: #888;
  margin-bottom: 5px;
}

.calculator-value {
  font-size: 2em;
  font-weight: bold;
}

